* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#cont1.contenedor{
    height: 100%;
    width: 20%;
    border: 1px solid green;
    float: left;
    background-color: greenyellow;
}
.caja{
    border: 1px solid black;
    margin:0px;
    width: 100%;
    font-size:2em;
}

#cont2.contenedor{
    height: 100%;
    width: 80%;
    border: 1px solid blue;
    background-color:aquamarine;
    float: right;
    /*text-align: center;*/
    font-size: 2em;
}
#btn{
    position:initial;
}

.active{
    display: none;
}
.ContenidoMargenCero{
    min-height: 100%;
    min-width: 100%;
}

@media screen and (min-width:501px) and (max-width:750px){
    #cont1.contenedor{
        height: 10%;
        width: 100%;
        border: 1px solid green;
        background-color: greenyellow;
        float: none;
    }
    .caja{
        width: calc(100% / 4);
        height: 100%;
        float:left;
    }
    #cont2.contenedor{
        height: 90%;
        width: 100%;
        border: 1px solid blue;
        background-color:aquamarine;
        float:none;
        text-align: center;
        font-size: 2em;
    }
}
@media screen and (max-width:500px){
    #cont1.contenedor{
        height: 40%;
        width: 100%;
        border: 1px solid green;
        background-color: greenyellow;
        float: none;
    }
    #cont2.contenedor{
        height: 60%;
        width: 100%;
        border: 1px solid blue;
        background-color:aquamarine;
        float: none;
        text-align: center;
        font-size: 2em;
    }
    .caja{
        width: 100%;
        height: calc(100%/4);
        float:none;
        text-align: center;
    }
}