* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: skyblue;
    text-align: center;
}
ul{
    padding-left: 0px;
    list-style: none;
    width: 1000px;
    height: 150px;
}
li{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: green;
}
p.materia{
    color: black;
}
body > ul{
    padding-left: 350px;
}
ul > li > ul{
    width: 650px;
    padding-left: 0px;
    display: none;
}
ul > li:hover > ul{
    display: block;
    height: 100%;
}
.semestre {
    background: lightgreen;
}
.materia {
    background: lime;
}