body{
    background-image:url(fondo.jpg) ;
    background-size:cover;
}
table{
    align-self: center;
    font-size: 25px;
    border-style: solid;
    margin: 0 auto;
}
h1{
    color: white;
}
th{
    background-color: blueviolet;
}
td{
    text-align: center;
    background-color: lightslategray;
    color:black
}
tr > td:first-child{
    font-weight: 1000;
    font-style:italic;
}