body{
    background-color: greenyellow;
}
form{
    background-color:green;
    width:300px;
    padding: 10px 40px;
    margin: 10% auto;
    position: relative; 
}
h2{
    text-align: center;
}
label{
    font-size: 20px;
}
.btn{
    margin-top: 10px;
}

.campos input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.campos input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}