* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 .contenedor {
    width: 100%;
    min-width: 200px;
    border: 2px solid blue;
    background-color: aquamarine;
    overflow: auto;
 }
 
 .caja {
    float: left;
    border: 2px solid red;
    margin: 10px;
    width: calc((100% / 6) - 20px);
 }

@media screen and (min-width:501px) and (max-width:900px)
{
    #caja1,
    #caja2,
    #caja3
    {
        width:  calc((100% / 3) - 20px);
    }
    #caja4,
    #caja5,
    #caja6  
    {
        width:  calc((100% / 3) - 20px);
    }
}
@media screen and (max-width:500px) 
{
    #caja1,
    #caja2
    {
        width: calc((100% / 2) - 20px);
    }
    #caja3,
    #caja4
    {
        width: calc((100% / 2) - 20px);
    }
    #caja5,
    #caja6  
    {
        width: calc((100% / 2) - 20px);
    }
}
